TABSAT/.vs/
TABSAT/TABReflector/obj/
TABSAT/TABReflector/bin/
TABSAT/TABSAT/obj/
TABSAT/TABSAT/bin/x64/Release/TABReflector.exe.config
TABSAT/TABSAT/bin/x64/Release/TABReflector.pdb
TABSAT/TABSAT/bin/x64/Release/TABSAT.exe.config
TABSAT/TABSAT/bin/x64/Release/TABSAT.pdb
TABSAT/TABSAT/bin/x64/Release/TABSAT.exe.CodeAnalysisLog.xml
TABSAT/TABSAT/bin/x64/Release/TABSAT.exe.lastcodeanalysissucceeded
